<!DOCTYPE html>
<html lang="en"><meta charset="UTF-8">
<head>
    <title>khách Hàng</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<h1><%= khachhang.TenKH %></h1>
<ol>
    <% donhang.map(function (v) { %>
    <li><%= v.ThoiGian %>tổng : <%= v.TongTien %></li>
    <% }) %>

</ol>

</form>
</body>
</html>