<!DOCTYPE html>
<html lang="en"><meta charset="UTF-8">
<head>
    <title>thêm sản phẩm</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<h1>Thêm Khách Hàng Mới</h1>
<form action="/luu-san-pham" method="post">
    <input type="text" name="TenSP" placeholder="Tên SP"/><br>
    <textarea name="MoTa" placeholder="Mo ta"></textarea><br>
    <input type="text" name="DonVi" placeholder="Đơn Vị"><br>
    <input type="text" name="Gia" placeholder="Giá"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>